body {
  padding-top: 51px;
  background-image: url("../img/shattered.png");
}
.text-center {
  padding-top: 20px;
}
.col-xs-12 {
  background-color: rgba(255, 255, 255, 0.30);
}
#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 80px;
}
#sidebar .nav {
  width: 95%;
}
#sidebar li {
  border:0 #f2f2f2 solid;
  border-bottom-width:1px;
}

#content{
  margin-top: 80px;
}

#content>p{
  margin-top: 10px;
}

#title{
    color: #454545;
    text-shadow: 0 1px 0 rgb(255, 255, 255);
    font-family: 'montserrat', sans-serif;
    font-size: 25;
    font-weight: bold;
    margin-top: 10px;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    padding-top:0;
  }
}



.nav{
    max-height: 300px;
    overflow-y:scroll;
}
