html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-image: url("../img/shattered.png");
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.content{
  padding-right:30px;
  padding-left:30px
}
#header {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;

}
#title {
  margin-top: 10px
}
#logo {
  width: 30%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px
}
