html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#map {
  height: calc(100% - 50px);
  width: auto;
}
body > nav {
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}
#logo {
  height: 45px;
  margin-top: -12px;
  padding-right: 10px;
  padding-left: 10px;
}
#userlayers {
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
  background-color: #ccc;
}
#userlayers > li > a:hover {
  background-color: #333 !important;
  color: #fff !important;
}
.tt-menu {
  background-color: #ccc;
  border: 1px solid #000;
  padding: 5px;
}

.tt-suggestion.tt-cursor {
  background-color: #fff;

}
.tt-suggestion:hover{
  background-color: #333;
  color: #fff;
}
.triggered-events {
  float: right;
  width: 500px;
  height: 300px;
}
#progress {
  display: none;
  position: absolute;
  z-index: 1000;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 20px;
  margin-top: -20px;
  margin-left: -100px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  padding: 2px;
}
#progress-bar {
  width: 0;
  height: 100%;
  background-color: #76A6FC;
  border-radius: 4px;
}
