html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#map {
  height: calc(100% - 50px);
  width: 100%;
  /*z-index: 1000;*/
}
#sidebar {
  /*height: calc(100% - 50px);
  width: 20vw;
  float: left;*/
  background-color: #b52c2c;
  z-index: 9999;
}
body > nav {
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}
#logo {
  height: 45px;
  margin-top: -12px;
  padding-right: 10px;
  padding-left: 10px;
}
.dropdown-toggle{
  color: #fff !important;
}
#usermenu:hover{
  background-color: rgb(115, 115, 115) !important;
}
#userlayers {
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
  background-color: #ccc;
}
#userlayers > li > a:hover {
  background-color: #333 !important;
  color: #fff !important;
}
#searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}
#volunteerName{
  margin-bottom: 0;
  color: #fff;
  font-weight: bold;
  text-shadow: 0px 2px 1px #858383;
}

.tt-menu {
  background-color: #ccc;
  border: 1px solid #000;
  padding: 5px;
}

.tt-suggestion.tt-cursor {
  background-color: #fff;

}
.tt-suggestion:hover{
  background-color: #333;
  color: #fff;
}
.triggered-events {
  float: right;
  width: 500px;
  height: 300px;
}
#progress {
  display: none;
  position: absolute;
  z-index: 1000;
  left: 50%;
  top: 50%;
  border-radius: 4px;
}
#progress-bar {
  height: 100%;
  background-color: #76A6FC;
  border-radius: 4px;
}
